{
 "authorization-plugins": {{ docker_daemon_authorization_plugins }},
 "dns": {{ docker_daemon_dns }},
 "dns-opts": {{ docker_daemon_dns_opts }},
 "dns-search": {{ docker_daemon_dns_search }},
 "exec-opts": {{ docker_daemon_exec_opts }},
 "exec-root": {{ docker_daemon_exec_root }},
 "experimental": {{ docker_daemon_experimental }},
 "storage-driver": {{ docker_daemon_storage_driver }},
 "storage-opts": {{ docker_daemon_storage_opts }},
 "labels": {{ docker_daemon_labels }},
 "live-restore": {{ docker_daemon_live_restore }},
 "log-driver": {{ docker_daemon_log_driver }},
 "log-opts": {{ docker_daemon_log_opts }},
 "mtu": {{ docker_daemon_mtu }},
 "pidfile": {{ docker_daemon_pidfile }},
 "graph": {{ docker_daemon_graph }},
 "cluster-store": {{ docker_daemon_cluster_store }},
 "cluster-store-opts": {{ docker_daemon_cluster_store_opts }},
 "cluster-advertise": {{ docker_daemon_cluster_advertise }},
 "max-concurrent-downloads": {{ docker_daemon_max_concurrent_downloads }},
 "max-concurrent-uploads": {{ docker_daemon_max_concurrent_uploads }},
 "metrics-addr" : "{{ docker_daemon_metrics_host }}:{{ docker_daemon_metrics_port }}",
 "shutdown-timeout": {{ docker_daemon_shutdown_timeout }},
 "debug": {{ docker_daemon_debug }},
 "hosts": {{ docker_daemon_hosts }},
 "log-level": {{ docker_daemon_log_level }},
 "tls": {{ docker_daemon_tls }},
 "tlsverify": {{ docker_daemon_tlsverify }},
 "tlscacert": {{ docker_daemon_tlscacert }},
 "tlscert": {{ docker_daemon_tlscert }},
 "tlskey": {{ docker_daemon_tlskey }},
 "swarm-default-advertise-addr": {{ docker_daemon_swarm_default_advertise_addr }},
 "api-cors-header": {{ docker_daemon_api_cors_header }},
 "selinux-enabled": {{ docker_daemon_selinux_enabled }},
 "userns-remap": {{ docker_daemon_userns_remap }},
 "group": {{ docker_daemon_group }},
 "cgroup-parent": {{ docker_daemon_cgroup_parent }},
 "default-ulimits": {{ docker_daemon_default_ulimits }},
 "init": {{ docker_daemon_init }},
 "init-path": {{ docker_daemon_init_path }},
 "ipv6": {{ docker_daemon_ipv6 }},
 "iptables": {{ docker_daemon_iptables }},
 "ip-forward": {{ docker_daemon_ip_forward }},
 "ip-masq": {{ docker_daemon_ip_masq }},
 "userland-proxy": {{ docker_daemon_userland_roxy }},
 "userland-proxy-path": {{ docker_daemon_userland_proxy_path }},
 "ip": {{ docker_daemon_ip }},
 "bridge": {{ docker_daemon_bridge }},
 "bip": {{ docker_daemon_bip }},
 "fixed-cidr": {{ docker_daemon_fixed_cidr }},
 "fixed-cidr-v6": {{ docker_daemon_fixed_cidr_v6 }},
 "default-gateway": {{ docker_daemon_default_gateway }},
 "default-gateway-v6": {{ docker_daemon_default_gateway_v6 }},
 "icc": {{ docker_daemon_icc }},
 "raw-logs": {{ docker_daemon_raw_logs }},
 "registry-mirrors": {{ docker_daemon_registry_mirrors }},
 "seccomp-profile": {{ docker_daemon_seccomp_profile }},
 "insecure-registries": {{ docker_daemon_insecure_registries }},
 "disable-legacy-registry": {{ docker_daemon_disable_legacy_registry }},
 "default-runtime": {{ docker_daemon_default_runtime }},
 "oom-score-adjust": {{ docker_daemon_oom_score_adjust }},
 "runtimes": {
  "runc": {
   "path": "runc"
  },
  "custom": {
   "path": "/usr/local/bin/my-runc-replacement",
   "runtimeArgs": [
    "--debug"
   ]
  }
 }
}